@import "~antd/dist/antd.css";
@import "./utils/base.scss";

.app-container {
  padding: 26px 8px 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background-color: $light-grey;

  & * {
    user-select: none;
  }
}
