@import "~antd/dist/antd.css";
@import "./utils/base.scss";

.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $light-grey;

  & * {
    user-select: none;
  }

  .result-container {
    margin-top: -1px;
    flex: 1;
    display: flex;
    overflow: hidden;
    background: #fff;

    .tag-list-container {
      width: 40%;
      height: 100%;
      overflow-y: auto;
      border: 1px solid $light-grey;
    }

    .tag-detail-container {
      margin-left: -1px;
      padding: 12px;
      flex: 1;
      height: 100%;
      overflow-y: auto;
      border: 1px solid $light-grey;
    }
  }
}
